.main-basket {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.main-basket > .content-basket {
    flex: 0 0 70%;
    width: 70%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 7px 0 lightgray;
    padding: 0 10px;
    
}
.main-basket > .tooltips-basket {
    flex: 0 0 30%;
    width: 30%;
    padding: 10px;
}
.main-basket > .tooltips-basket > h5 {
    font-size: 16px;
    color: #555;
    font-weight: 400;
    text-decoration: underline;
    margin-bottom: 10px;
}
.main-basket > .tooltips-basket > button {
    width: 100%;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.25s;
}
.main-basket > .tooltips-basket > button:hover {
    background-color: #dd5656;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 0 7px 0 lightgray;
    font-weight: bold;
}
.main-basket > .tooltips-basket > form {
    width: 100%;
}
.main-basket > .tooltips-basket > form > input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #fff;
    box-shadow: 0 0 7px 0 lightgray;
    outline: none;
    margin-bottom: 10px;
}
.main-basket > .tooltips-basket > form > input:focus {
    border: 2px solid #dd5656;
}
.main-basket > .content-basket > .locations {
    position: relative;
}
.back-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}
.card > .txt a:hover {
    text-decoration: underline;
}
.btn_prev,
.btn_next {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: block;
    border-radius: 50%;
    padding: 5px;
    transition: all 0.25s;
    margin-bottom: 20px;
}
.btn_prev:hover,
.btn_next:hover {
    background-color: #f5f5f5;
}
