.splide {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}
.splide__list {
    width: 100%;
}
.splide__list > .splide__slide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 400px;
    width: 100%;
}
.splide__list > .splide__slide a {
    border-radius: 10px;
}
.splide__list > .splide__slide a:nth-child(1) {
    grid-area: 1 / 1 / 3 / 2;
}
.splide__list > .splide__slide a:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
}
.splide__list > .splide__slide a:nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
}
.splide__slide .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.splide__slide .location .detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-radius: 0px 0px 10px 10px;
    background: rgba(48, 48, 48, 0.77);
    color: white;
    padding: 10px;
}

.splide__pagination__page.is-active {
    background: var(--main-color) !important;
}

@media screen and (max-width: 768px) {
    .splide{
        height: 600px;
    }
    .splide__list > .splide__slide {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: 500px;
    }
    .splide__list > .splide__slide a{
        grid-area: auto  !important;
    }
    .container{
        height: auto;
    }
}
