:root {
    --main-color: #dc6666;
    --sub-color: #0a9eed;
    --bg-color: #f7f8fc;
    --gray-color: #ccc;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Arial";
    outline: none;
}
.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-36 {
    font-size: 36px;
}
.material-icons.md-48 {
    font-size: 48px;
}
body {
    background-color: var(--bg-color);
}
a {
    color: inherit;
    text-decoration: none;
}
.container {
    margin: 0 auto;
}
@media screen and (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}
@media screen and (min-width: 992px) {
    .container {
        max-width: 100%;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media screen and (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}
.min-h-100 {
    min-height: 100vh;
}
.bg-gray {
    background-color: var(--bg-color);
}
.py-02 {
    padding: 2px 0;
}
.py-1 {
    padding: 10px 0;
}
.px-5 {
    padding: 0 50px;
}
.px-1 {
    padding: 0 10px;
}
.ml-1 {
    margin-left: 10px;
}
.mr-05 {
    margin-right: 5px;
}
.mb-05 {
    margin-bottom: 5px;
}
.mb-1 {
    margin-bottom: 10px;
}
.mb-2 {
    margin-bottom: 20px;
}
.mb-4 {
    margin-bottom: 40px;
}
.mx-1 {
    margin: 0 10px;
}
.mt-1 {
    margin-top: 10px;
}
.mt-2 {
    margin-top: 20px;
}
.w-50 {
    width: 50%;
    flex: 0 0 50%;
}
.h-100 {
    height: 100%;
}
.row {
    display: flex;
    flex-direction: row;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.flex-center {
    justify-content: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.input-wrap {
    border-bottom: 1px solid #b8b8b8;
    padding: 5px 0;
    align-items: center;
    color: #b8b8b8;
}
.input-wrap > .row {
    width: 100%;
}
.input-wrap input,
.input-wrap select {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
}
.btn-primary {
    background-color: var(--sub-color);
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}
.btn-primary:hover {
    background-color: #007dcb;
}
.btn-secondary {
    background-color: var(--main-color);
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}
.btn-secondary:hover {
    background-color: #c53d3d;
}
.b-400 {
    font-weight: 400;
}
.b-800 {
    font-weight: 800;
}
.c-pri {
    color: #66a5dc;
}
.c-pri:hover {
    text-decoration: underline;
}
.message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.25s ease-in-out;
}
.message-warning {
    background-color: #fff3cd;
    color: #a56404;
}
.message-error {
    background-color: #f8d7da;
    color: #721c24;
}
.message-info {
    background-color: #cce5ff;
    color: #004085;
}
.message-success {
    background-color: #edf7ed;
    color: #446646;
}

.hidden-checkbox {
    position: absolute;
    opacity: 0;
}
.preference-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.icon {
    display: inline-block;
    width: 30px;
    text-align: center;
    margin-right: 10px;
    color: #333;
}

.hidden-checkbox:checked + .worst {
    color: #d71e25;
}
.hidden-checkbox:checked + .bad {
    color: #f37521;
}
.hidden-checkbox:checked + .avg {
    color: #fda218;
}
.hidden-checkbox:checked + .good {
    color: #abb837;
}
.hidden-checkbox:checked + .best {
    color: #4aa548;
}
.card {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
}
.card > .btns {
    flex: 0 0 5%;
    width: 5%;
}
.card > .order {
    flex: 0 0 5%;
    width: 5%;
    border-radius: 50%;
    padding: 5px;
    flex-shrink: 0;
    background-color: #dd5656;
    margin: 0 10px;
    text-align: center;
    color: white;
    box-shadow: 0 0 7px 0 lightgray;
}
.card > .img {
    flex: 0 0 20%;
    width: 20%;
}
.card > .img > img {
    width: 100%;
}
.card > .txt {
    flex: 0 0 65%;
    width: 65%;
    padding: 0 10px;
}
.card > .btn_del {
    position: relative;
    flex: 0 0 10%;
    width: 10%;
}
.card > .btn_del > button {
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: red;
    transition: color 0.25s;
}
.card > .btn_del > button:hover {
    color: #721c24;
}
.wug-wrap {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 7px 0 lightgray;
}
.wug-wrap .dropdown-toggle {
    cursor: pointer;
}
.wug-wrap .dropdown-menu {
    height: 0;
    overflow: hidden;
    transition: height 0.25s;
}
.wug-wrap .open {
    height: 400px;
}

.wug-wrap .zone-group {
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.wug-wrap .zone-group a {
    border-radius: 15px;
    background-color: #171d34;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin: 5px 5px 5px 0;
    transition: all 0.25s;
}

.wug-wrap .zone-group a:hover {
    background-color: rgba(13, 16, 30, 0.937);
    text-decoration: underline;
}

#loading-screen {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    z-index: 9999;
}

.car {
    animation: drive 4s linear infinite;
    width: 100px;
    position: absolute;
    top: 50%;
    left: -120px;
}

.progress-container {
    width: 80%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}

@keyframes drive {
    0% {
        transform: translateX(-120px);
    }
    100% {
        transform: translateX(calc(100vw + 120px));
    }
}

@keyframes clickAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.clicked {
    animation: clickAnimation 0.3s ease;
}

.opening-status {
    padding: 3px 6px;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    flex-shrink: 0;
}

.pagination-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 7px 0 lightgray;
}
.pagination > a {
    padding: 5px 10px;
    border-radius: 5px;
    color: #555;
    margin: 0 10px;
    transition: all 0.25s;
}
.pagination > a:hover {
    background-color: var(--main-color);
    color: #fff;
}
.pagination > a.active {
    background-color: var(--main-color);
    color: #fff;
}
.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #d9d9d9;
    margin-right: 10px;
    border: 1px solid var(--main-color);
}
.avatar > h4 {
    text-transform: uppercase;
}
.avatar > img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.avatar-sm {
    width: 24px;
    height: 24px;
}
.avatar-md {
    width: 64px;
    height: 64px;
}
.avatar-lg {
    width: 96px;
    height: 96px;
}
.font-sm {
    color: var(--gray-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* .container > .cont-lt > .image {
    background: url("/images/image1.jpg");
    width: 100%;
    height: 500px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center;
    border-radius: 20px;
    box-shadow: 0 0 7px 0 lightgray;
} */
.container > .cont-lt > img {
    width: 100%;
}
.visibilityIcon {
    border: none;
    background-color: transparent;
    color: inherit;
}
