.images-wrap {
    padding: 10px 0;
}
.details-wrap > .title {
    justify-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.details-wrap > .title > .txt > .row > h1 {
    color: #555;
}
.details-wrap > .title > .txt > .row {
    color: #8e8e8e;
    font-weight: bold;
    text-align: justify;
}
.details-wrap > .title > .button-wrap {
    display: flex;
    align-items: center;
}
.details-wrap > .title > .button-wrap > button {
    cursor: pointer;
    flex-shrink: 0;
}
.details-wrap .categories > a {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 20px;
    margin-right: 5px;
    cursor: pointer;
    transition: all 0.25s;
}
.details-wrap .categories > a:hover {
    color: #fff;
    font-weight: bold;
    background-color: #dc6666;
    border: none;
}
.details-wrap > .desc-wrap > .detail {
    flex: 0 0 70%;
    width: 70%;
}
.details-wrap > .desc-wrap > .detail > .time {
    padding: 10px 0;
}

.details-wrap > .desc-wrap > .map {
    flex: 0 0 30%;
    min-height: 250px;
    width: 30%;
    padding: 0 10px;
}

.images-wrap > .image-box {
    display: flex;
    flex-direction: row;
}
.images-wrap > .main-image {
    position: relative;
    width: 100%;
    min-height: 422px;
    height: 422px;
    border-radius: 10px;
    background-color: #292929;
    margin-bottom: 20px;
}
.images-wrap > .main-image > .credit {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    font-size: 12px;
    color: lightgray;
    background-color: #000;
    border-radius: 0 0 20px 0;
}
.images-wrap > .main-image > .image {
    width: 100%;
    height: 100%;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}
.images-wrap > .image-box > .image {
    min-height: 150px;
    min-width: 150px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    border: 1px solid lightgray;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.images-wrap > .image-box > .image:hover {
    box-shadow: 0 0 7px lightgray;
    transform: scale(1.1);
}
.reviews-wrap {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}
.reviews-wrap > button {
    align-self: flex-end;
    cursor: pointer;
    margin: 10px 0;
}
.reviews-wrap > .reviews {
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
}
.reviews-wrap > .reviews > .review {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}
.reviews-wrap > .reviews > .review > .user {
    flex: 0 0 15%;
    width: 15%;
}
.reviews-wrap > .reviews > .review > .user > .date {
    color: #8e8e8e;
}
.reviews-wrap > .reviews > .review > .user > .star {
    color: red;
}
.reviews-wrap > .reviews > .review > .txt {
    flex: 0 0 70%;
    width: 70%;
    text-align: justify;
}

.reviews-wrap > .reviews > .review > .more {
    flex: 0 0 5%;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reviews-wrap > .reviews > .review > .more > .del-review {
    color: red;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    transition: all 0.25s;
}
.reviews-wrap > .reviews > .review > .more > .del-review:hover {
    color: white;
    background-color: red;
}
.reviews-wrap > .reviews > .review > .like_section {
    flex: 0 0 10%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reviews-wrap > .reviews > .review > .like_section button {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.reviews-wrap > .reviews > .no-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ccc;
}
#loadMoreButton {
    align-self: center;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 7px 0 lightgray;
    background-color: #dc6666;
    color: #fff;
}
.disable {
    opacity: 0.6;
    cursor: not-allowed !important;
}
