.myprofile {
    padding: 20px 0;
    border-bottom: 1px solid var(--gray-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.myprofile .details h4,
.myprofile .details p {
    margin-right: 20px;
}
.myreviews {
    padding: 20px 0;
}
.myreviews > h4 {
    text-align: center;
    padding: 0 10px;
}
.myreviews > .reviews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.myreviews > .reviews > .review_card {
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 7px 0 lightgray;
            box-shadow: 0 0 7px 0 lightgray;
    padding: 10px;
    margin: 10px;
}
.myreviews > .filter {
    margin: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.myreviews > .filter > label{
    margin-right: 5px;
}
.myreviews > .filter > select {
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(250, 250, 250);
    -webkit-box-shadow: 2px 4px 8px #c5c5c5;
            box-shadow: 2px 4px 8px #c5c5c5;
    padding: 5px;
}

.review_card .review {
    margin: 10px 0;
}
.review_card .review p {
    color: #555;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
}
.review_card .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px;
}
.review_card .location h4 {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.review_card .location p {
    color: #ccc;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.review_card .star {
    color: #dc6666;
}

.del-review {
    color: red;
    background: transparent;
    border: none;
    outline: none;
    float: right;
    cursor: pointer;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.del-review:hover {
    border-radius: 50%;
    padding: 5px;
    background-color: red;
    color: white;
}
#loadMoreButton {
    margin: 10px 0;
}
.disable {
    opacity: 0.6;
    cursor: not-allowed !important;
}
.no-reviews{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #ccc;
    padding: 20px 0;
    border-radius: 20px;
}
